.loading[data-v-7323bc8b] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.loading .cont[data-v-7323bc8b] {
  display: flex;
  width: 120px;
  height: 30px;
  font-size: 24px;
  letter-spacing: 2px;
}
